<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/general') %>
</head>
<body>

  <h1>Search results</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Maker</th>
        <th>Model</th>
        <th>Year</th>
        <th>Price</th>
        <th># in stock</th>
      </tr>
      <tr>
        <td><%= guitar.id%></td>
        <td><%= guitar.maker%></td>
        <td><%= guitar.model %></td>
        <td><%= guitar.year %></td>
        <td>US$ <%=guitar.price %></td>
        <td><%=guitar.stock %></td>
      </tr>
    </table>
  <ul>
</ul>
</body>
</html>